<table class="table table-condensed">
 <thead>
  <tr>
   <th style="text-align:right;"> province </th>
   <th style="text-align:center;"> code </th>
   <th style="text-align:center;"> total confirmed cases </th>
   <th style="text-align:center;"> variation </th>
   <th style="text-align:center;"> since </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:right;"> Quebec </td>
   <td style="text-align:center;"> QC </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #78978a">515</span> </td>
   <td style="text-align:center;"> <span style="font-weight: bold; color: #800000">
  <i class="glyphicon glyphicon-arrow-up"></i>
  10
</span> </td>
   <td style="text-align:center;"> September 07, 2022 </td>
  </tr>
  <tr>
   <td style="text-align:right;"> British Columbia </td>
   <td style="text-align:center;"> BC </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #c7d0cc">150</span> </td>
   <td style="text-align:center;"> <span style="font-weight: bold; color: #800000">
  <i class="glyphicon glyphicon-arrow-up"></i>
  7
</span> </td>
   <td style="text-align:center;"> September 09, 2022 </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Ontario </td>
   <td style="text-align:center;"> ON </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #5f8575">631</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Alberta </td>
   <td style="text-align:center;"> AB </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e0e2e1">34</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Saskatchewan </td>
   <td style="text-align:center;"> SK </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e7e7e7">3</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Yukon </td>
   <td style="text-align:center;"> YT </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e7e7e7">2</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Manitoba </td>
   <td style="text-align:center;"> MB </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e7e7e7">1</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> New Brunswick </td>
   <td style="text-align:center;"> NB </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e7e7e7">1</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Nova Scotia </td>
   <td style="text-align:center;"> NS </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e7e7e7">1</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Nunavut </td>
   <td style="text-align:center;"> NU </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e8e8e8">0</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Northwest Territories </td>
   <td style="text-align:center;"> NT </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e8e8e8">0</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Newfoundland and Labrador </td>
   <td style="text-align:center;"> NL </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e8e8e8">0</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
  <tr>
   <td style="text-align:right;"> Prince Edward Island </td>
   <td style="text-align:center;"> PE </td>
   <td style="text-align:center;"> <span style="display: block; padding: 0 4px; border-radius: 4px; background-color: #e8e8e8">0</span> </td>
   <td style="text-align:center;"> <span style="font-weight: normal; color: black">
  <i class="glyphicon glyphicon-"></i>
  
</span> </td>
   <td style="text-align:center;">  </td>
  </tr>
</tbody>
</table>
